In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
import warnings
matplotlib.rcParams["figure.figsize"]=(20,10)

In [2]:
df=pd.read_csv("House.csv")
df.head()

,zid,statusType,statusText,timeOnZillow,price,pricePerSqFt,zestimate,zestimatePerSqFt,rentZestimate,area,...,addressCity,addressState,addressZipcode,latitude,longitude,brokerName,isZillowOwned,detailUrl,image,sourceUrl
0,2060953021,FOR_SALE,Townhouse for sale,19 days,499900,349.0,NaN,NaN,NaN,1432.0,...,Washington Navy Yard,DC,20374,38.874615,-76.993690,KW Metro Center,False,https://www.zillow.com/homedetails/358-N-St-SW...,https://photos.zillowstatic.com/fp/ee65bf80e79...,https://www.zillow.com/washington-dc/2_p/?sear...
1,334523800,FOR_SALE,Condo for sale,20 days,257444,331.0,255800.0,329.0,2608.0,778.0,...,Washington,DC,20002,38.893580,-76.995125,"Long & Foster Real Estate, Inc.",False,https://www.zillow.com/homedetails/300-8th-St-...,https://photos.zillowstatic.com/fp/2268a37a637...,https://www.zillow.com/washington-dc/2_p/?sear...
2,442870,FOR_SALE,House for sale,4 days,1068000,456.0,1073600.0,459.0,5000.0,2340.0,...,Washington,DC,20015,38.960064,-77.082290,Compass,False,https://www.zillow.com/homedetails/5330-42nd-S...,https://photos.zillowstatic.com/fp/586bd533844...,https://www.zillow.com/washington-dc/2_p/?sear...
3,2061780072,FOR_SALE,Condo for sale,NaN,159000,187.0,NaN,NaN,NaN,850.0,...,Washington,DC,20024,38.873444,-77.015450,JPAR Stellar Living,False,https://www.zillow.com/homedetails/1311-Delawa...,https://photos.zillowstatic.com/fp/b2e584081ab...,https://www.zillow.com/washington-dc/2_p/?sear...
4,2061275381,FOR_SALE,Townhouse for sale,NaN,650000,464.0,NaN,NaN,NaN,1400.0,...,Washington,DC,20011,38.957264,-77.033170,Home Source Real Estate Solutions,False,https://www.zillow.com/homedetails/501-1-Longf...,https://photos.zillowstatic.com/fp/2e5e62a22f8...,https://www.zillow.com/washington-dc/2_p/?sear...

In [3]:
df=df.drop(['zid','timeOnZillow','zestimate','zestimatePerSqFt','rentZestimate','lotSize','lotAreaUnit','latitude','longitude','brokerName','isZillowOwned','detailUrl','image','sourceUrl','address'], axis=1)

In [4]:
df.shape

(1599, 11)

In [5]:
df.columns

Index(['statusType', 'statusText', 'price', 'pricePerSqFt', 'area', 'beds',
       'baths', 'addressStreet', 'addressCity', 'addressState',
       'addressZipcode'],
      dtype='object')

In [6]:
df['statusText'].unique()

array(['Townhouse for sale', 'Condo for sale', 'House for sale',
       'Multi-family home for sale', 'Apartment for sale',
       'Lot / Land for sale', 'Home for sale'], dtype=object)

In [7]:
df['statusText'].value_counts()

House for sale                774
Condo for sale                394
Townhouse for sale            382
Multi-family home for sale     21
Home for sale                  17
Apartment for sale              6
Lot / Land for sale             5
Name: statusText, dtype: int64

In [8]:
df['addressCity'].unique()

array(['Washington Navy Yard', 'Washington', 'Bushwood', 'Cambridge',
       'Laurel', 'Baltimore', 'Silver Spring', 'College Park', 'Odenton',
       'Elkridge', 'Dundalk', 'Westminster', 'Cecilton',
       'Fort Washington', 'Friendsville', 'Bel Air', 'Frederick',
       'Annapolis', 'Mount Airy', 'Bethesda', 'Edgewood', 'Abingdon',
       'Rockville', 'Lexington Park', 'Glen Burnie', 'Potomac',
       'Salisbury', 'Waldorf', 'Cresaptown', 'Fort washington',
       'Germantown', 'Reisterstown', 'Ocean City', 'Gaithersburg',
       'Bowie', 'Pasadena', 'Lusby', 'Hunt Valley', 'Landover',
       'Middletown', 'Jessup', 'Suitland', 'Accokeek', 'Ellicott City',
       'Aberdeen', 'Williamsport', 'Ocean Pines', 'Marion', 'Essex',
       'Hyattsville', 'Columbia', 'Shady Side', 'Hagerstown',
       'Owings Mills', 'Chevy Chase', 'Sykesville', 'Upper Marlboro',
       'Bishopville', 'Elkton', 'Severna Park', 'Tracys Landing',
       'Newburg', 'Randallstown', 'Keedysville', 'Clarksburg', 'Denton',
       'Beltsville', 'Stevensville', 'Finksburg', 'Woodbine',
       'Davidsonville', 'Smithsburg', 'Cumberland', 'Fruitland',
       'District Heights', 'Oxon Hill', 'Capitol Heights', 'Boonsboro',
       'Upperco', 'Harwood', 'Thurmont', 'Fishing Creek', 'Rising Sun',
       'Berlin', 'Indian Head', 'Hanover', 'Towson', 'Temple Hills',
       'Oakland', 'Baldwin', 'Hampstead', 'Severn', 'Westernport',
       'North East', 'Pittsville', 'Windsor Mill', 'Princess Anne',
       'Knoxville', 'Middle River', 'Damascus', 'Lothian', 'Joppa',
       'Leonardtown', 'Temple hills', 'Parsonsburg', 'Mount Rainier',
       'Taneytown', 'Delmar', 'Vienna', 'Huntingtown', 'New Windsor',
       'Keymar', 'Arnold', 'Fallston', 'Brunswick', 'Parkville',
       'Swanton', 'Clinton', 'Highland', 'Easton', 'Warwick', 'Crisfield',
       'Pikesville', 'Fulton', 'Brandywine', 'Takoma Park',
       'Pocomoke City', 'Mount Savage', 'Crownsville', 'Cascade',
       'Snow Hill', 'Brentwood', 'Rock Hall', 'Kensington', 'Mc Henry',
       'Linthicum', 'Parkton', 'Catonsville', 'Bladensburg',
       'Millersville', 'Darlington', 'Piney Point', 'Port Deposit',
       'Conowingo', 'California', 'Mchenry', 'East New Market',
       'Stevenson', 'Olney', 'Federalsburg', 'Lanham', 'Centreville',
       'Ijamsville', 'Havre De Grace', 'Brookeville', 'Dunkirk',
       'Edgewater', 'Nottingham', 'White Plains', 'New Market',
       'Accident', 'Deal Island', 'Crofton', 'Owings', 'Monrovia',
       'North Beach', 'Lutherville Timonium', 'Saint Leonard', 'Boyds',
       'Hollywood', 'Saint Michaels', 'Pt Republic', 'Ashton',
       'White Marsh', 'Glenn Dale', 'Chesapeake Beach', 'Chestertown',
       'Pylesville', 'Churchton', 'Sparks Glencoe', 'Tilghman',
       'Greenbelt', 'Saint Inigoes', 'White Hall', 'Gambrills', 'Marydel',
       'Chesapeake City', 'La Plata', 'Chester', 'Savage',
       'Prince Frederick', 'Eldersburg', 'Big Pool', 'Belcamp', 'Colora',
       'Cheltenham', 'Queen Anne', 'Drayden', 'Silver spring',
       'Mechanicsville', 'Sharpsburg', 'Grantsville', 'Rosedale',
       'Monkton', 'Sparrows Point', 'Stockton', 'Jarrettsville',
       'Clarksville', 'Woodstock', 'Adamstown', 'Millington',
       'Rocky Ridge', 'Wheaton'], dtype=object)

In [9]:
df.isnull().sum()

statusType         0
statusText         0
price              0
pricePerSqFt       5
area               5
beds               5
baths             19
addressStreet      0
addressCity        0
addressState       0
addressZipcode     0
dtype: int64

In [10]:
df3 = df.dropna()
df3.isnull().sum()

statusType        0
statusText        0
price             0
pricePerSqFt      0
area              0
beds              0
baths             0
addressStreet     0
addressCity       0
addressState      0
addressZipcode    0
dtype: int64

In [11]:
df3['beds'] = df3['beds'].apply(np.int64)

C:\Users\paras\AppData\Local\Temp/ipykernel_4428/2037948543.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['beds'] = df3['beds'].apply(np.int64)

In [12]:
df3.beds.unique()

array([ 2,  3,  4,  5,  1,  6,  0,  8,  7, 12,  9, 10, 16, 13],
      dtype=int64)

In [13]:
df3['area'] = df3['area'].apply(np.int64)

C:\Users\paras\AppData\Local\Temp/ipykernel_4428/1609182005.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['area'] = df3['area'].apply(np.int64)

In [14]:
df3.area.unique()

array([1432,  778, 2340, ..., 2275, 2616, 1518], dtype=int64)

In [15]:
df3.head()

,statusType,statusText,price,pricePerSqFt,area,beds,baths,addressStreet,addressCity,addressState,addressZipcode
0,FOR_SALE,Townhouse for sale,499900,349.0,1432,2,2.0,358 N St SW,Washington Navy Yard,DC,20374
1,FOR_SALE,Condo for sale,257444,331.0,778,2,1.0,300 8th St NE UNIT 205,Washington,DC,20002
2,FOR_SALE,House for sale,1068000,456.0,2340,3,4.0,5330 42nd St NW,Washington,DC,20015
3,FOR_SALE,Condo for sale,159000,187.0,850,2,2.0,1311 Delaware Ave SW #137,Washington,DC,20024
4,FOR_SALE,Townhouse for sale,650000,464.0,1400,3,3.0,501-1 Longfellow St NW,Washington,DC,20011

In [16]:
len(df3.addressStreet.unique())

1580

In [17]:
df3.addressStreet = df3.addressStreet.apply(lambda x: x.strip())
location_stats=df3.groupby('addressStreet')['addressStreet'].agg('count').sort_values(ascending=False)
location_stats

C:\Users\paras\anaconda3\lib\site-packages\pandas\core\generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

addressStreet
1 Beach Rd                          1
4201 Cathedral Ave NW APT 1005W     1
4200 Cathedral Ave NW APT 1005      1
420 Independence Ave SE             1
42 Lafayette Ave                    1
                                   ..
1873 Channing St NE                 1
18606 Bay Leaf Way                  1
1860 California St NW APT 202       1
1855 Dutch Village Dr UNIT J-285    1
9909 Empire Ct                      1
Name: addressStreet, Length: 1580, dtype: int64

In [18]:
df3=df3.drop(['statusType','pricePerSqFt','addressStreet'],axis=1)
df3.head()

,statusText,price,area,beds,baths,addressCity,addressState,addressZipcode
0,Townhouse for sale,499900,1432,2,2.0,Washington Navy Yard,DC,20374
1,Condo for sale,257444,778,2,1.0,Washington,DC,20002
2,House for sale,1068000,2340,3,4.0,Washington,DC,20015
3,Condo for sale,159000,850,2,2.0,Washington,DC,20024
4,Townhouse for sale,650000,1400,3,3.0,Washington,DC,20011

In [ ]:
# dummies1 = pd.get_dummies(df3.statusText)
# dummies1.head(3)

In [19]:
dummies3 = pd.get_dummies(df3.addressCity)
dummies3.head(3)

,Aberdeen,Abingdon,Accident,Accokeek,Adamstown,Annapolis,Arnold,Ashton,Baldwin,Baltimore,...,Westernport,Westminster,Wheaton,White Hall,White Marsh,White Plains,Williamsport,Windsor Mill,Woodbine,Woodstock
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# dummies4 = pd.get_dummies(df3.addressState)
# dummies4.head(3)

In [20]:
df4 = pd.concat([df3,dummies3],axis='columns')
df4.head()

,statusText,price,area,beds,baths,addressCity,addressState,addressZipcode,Aberdeen,Abingdon,...,Westernport,Westminster,Wheaton,White Hall,White Marsh,White Plains,Williamsport,Windsor Mill,Woodbine,Woodstock
0,Townhouse for sale,499900,1432,2,2.0,Washington Navy Yard,DC,20374,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Condo for sale,257444,778,2,1.0,Washington,DC,20002,0,0,...,0,0,0,0,0,0,0,0,0,0
2,House for sale,1068000,2340,3,4.0,Washington,DC,20015,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Condo for sale,159000,850,2,2.0,Washington,DC,20024,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Townhouse for sale,650000,1400,3,3.0,Washington,DC,20011,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
df5 = df4.drop(['addressState','statusText','addressCity'],axis='columns')
df5.head(2)

,price,area,beds,baths,addressZipcode,Aberdeen,Abingdon,Accident,Accokeek,Adamstown,...,Westernport,Westminster,Wheaton,White Hall,White Marsh,White Plains,Williamsport,Windsor Mill,Woodbine,Woodstock
0,499900,1432,2,2.0,20374,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,257444,778,2,1.0,20002,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
X = df5.drop(['price'],axis='columns')
X.head(3)

,area,beds,baths,addressZipcode,Aberdeen,Abingdon,Accident,Accokeek,Adamstown,Annapolis,...,Westernport,Westminster,Wheaton,White Hall,White Marsh,White Plains,Williamsport,Windsor Mill,Woodbine,Woodstock
0,1432,2,2.0,20374,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,778,2,1.0,20002,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2340,3,4.0,20015,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
X.shape

(1580, 216)

In [24]:
y = df5.price
y.head(3)

0     499900
1     257444
2    1068000
Name: price, dtype: int64

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=10)

In [26]:
from sklearn.linear_model import LinearRegression
lr_clf = LinearRegression()
lr_clf.fit(X_train,y_train)
lr_clf.score(X_test,y_test)

-1.3291374768926284e+16

In [27]:
from sklearn.tree import DecisionTreeRegressor 
  
# create a regressor object
regressor = DecisionTreeRegressor(random_state = 0) 
  
# fit the regressor with X and Y data
regressor.fit(X_train,y_train)
regressor.score(X_test,y_test)

0.7182588657421433

In [28]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)

cross_val_score(LinearRegression(), X, y, cv=cv)

array([ 5.05247253e-01, -7.93255412e+15, -4.02311235e+17, -1.23069629e+18,
       -2.57593775e+18])

In [29]:
warnings.filterwarnings("ignore")

In [ ]:
from sklearn.model_selection import GridSearchCV

from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor

def find_best_model_using_gridsearchcv(X,y):
    algos = {
        
    
        'lasso': {
            'model': Lasso(),
            'params': {
                'alpha': [1,2],
                'selection': ['random', 'cyclic']
            }
        },
        'decision_tree': {
            'model': DecisionTreeRegressor(),
            'params': {
                'criterion' : ['mse','friedman_mse'],
                'splitter': ['best','random']
            }
        }
    }
    scores = []
    cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
    for algo_name, config in algos.items():
        gs =  GridSearchCV(config['model'], config['params'], cv=cv, return_train_score=False)
        gs.fit(X,y)
        scores.append({
            'model': algo_name,
            'best_score': gs.best_score_,
            'best_params': gs.best_params_
        })

    return pd.DataFrame(scores,columns=['model','best_score','best_params'])

find_best_model_using_gridsearchcv(X,y)

In [36]:
len(X.columns)

216

In [35]:
def predict_price(addressCity,area,beds,bath):    
    loc_index = np.where((X.columns==addressCity))[0][0]

    x = np.zeros(len(X.columns))
    len(x)
    x[0] = area
    x[1] = beds
    x[2] = bath
    if loc_index >= 0:
        x[loc_index] = 1
    return regressor.predict([x])[0]

In [31]:
predict_price('White Plains',1600, 5, 1)

1099000.0

In [39]:
import pickle
pickle.dump(regressor,open('model1.pkl','wb'))

In [38]:
import json
columns={
    'data_columns':[col.lower() for col in X.columns]
}
with open("columns.json",'w') as f:
    f.write(json.dumps(columns))